[Unit]
Description=SRE SysVer Containerization testbench
After=alex.target
Requires=alex.target


[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/alex-container   -b /common/appdata/container-test:/data -b /bin -b /usr/bin/openssl -r /usr/lib/libjsoncpp.so.11 -r /etc/alex/container-test.conf  /usr/bin/container-test


CPUQuota=2%
MemoryHigh=2M
MemoryMax=4M

[Install]
WantedBy=alex.target


