[Unit]
Description=Mosquitto - lightweight server implementation of the MQTT and MQTT-SN protocols
ConditionPathExists=/etc/mosquitto/mosquitto.conf
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/mosquitto -c /etc/mosquitto/mosquitto.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
