[Unit]
Description=Unit to move logs to USB stick
After=systemd-journal-flush.service
BindsTo=systemd-journal-flush.service

[Service]
Type=oneshot
EnvironmentFile=/etc/alex/partition.args
ExecStart=/usr/bin/move_tpa_logs.sh
