config ARM
	bool
	select ARCH_WANT_IPC_PARSE_VERSION
	select GENERIC_PTRACE
	select HAVE_GENERIC_DMA_COHERENT
	select MODULES_USE_ELF_REL
	select HAVE_DEBUG_KMEMLEAK
	select OLD_SIGSUSPEND3
	select OLD_SIGACTION
	select CLONE_BACKWARDS
	default y

config RWSEM_GENERIC_SPINLOCK
       bool
       default y

config TRACE_IRQFLAGS_SUPPORT
	bool
	default y

config NEEDS_SYSCALL_FOR_CMPXCHG
	bool
	default y

config VECTORS_BASE
	hex
	default 0xffff0000
	help
	  The base address of exception vectors.

config ARM_THUMB
	bool
	default y

config FRAME_POINTER
	bool
	default y
	help
	  If you say N here, the resulting kernel will be slightly smaller and
	  faster. However, if neither FRAME_POINTER nor ARM_UNWIND are enabled,
	  when a problem occurs with the kernel, the information that is
	  reported is severely limited.

config STACKTRACE_SUPPORT
	def_bool y

choice
	prompt "Architecture version"

config CPU_V6
	bool "ARM V6"
	depends on !SMP && (P4_ARM_V5 || P4_ARM_V6)
	select CPU_32v6
	select GENERIC_ATOMIC64

config CPU_V6K
	bool "ARM V6K"
	depends on (P4_ARM_V5 || P4_ARM_V6)
	select CPU_32v6
	select CPU_32v6K

config CPU_V7
	bool "ARM V7 (e.g. TI OMAP)"
	select CPU_32v7

endchoice

# only for compiler optimizations
config CPU_32v5
	bool

config CPU_32v6
	bool

config CPU_32v6K
	bool

config CPU_32v7
	bool

config AEABI
	bool
	default y

config GENERIC_BUG
	def_bool y
	depends on BUG

config COMMON_CLKDEV
	bool

config VFP
	def_bool y

config ALIGNMENT_TRAP
	def_bool y
	help
	  ARM processors cannot fetch/store information which is not
	  naturally aligned on the bus, i.e., a 4 byte fetch must start at an
	  address divisible by 4. On 32-bit ARM processors, these non-aligned
	  fetch/store instructions will be emulated in software if you say
	  here, which has a severe performance impact. This is necessary for
	  correct operation of some network protocols. With an IP-only
	  configuration it is safe to say N, otherwise say Y.

# use 64-bit time calculations same as native architecture
config KTIME_SCALAR
	def_bool y

config OUTER_CACHE
	bool

config OUTER_CACHE_SYNC
	bool
	help
	  The outer cache has a outer_cache_fns.sync function pointer
	  that can be used to drain the write buffer of the outer cache.

config P4_GENERIC_OUTER_CACHE
	bool "Enable generic outer cache controller"
	default n
	select OUTER_CACHE
	select OUTER_CACHE_SYNC
	help
	  This option enables support for outer cache controller.

config P4_CACHEMGR_DRIVER
	bool "Enable using the CACHEMGR P4 kernel level driver"
	default n
	help
	  This driver implements additional cache maintenance functionality
	  needed for DMA coherency in a DirectIO kernel. Enable it if you
	  are using DirectIO on an IMX6 sabre board.
